.transactions-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  @media only screen and (max-width: 991px) {
    &.m-none {
      display: none;
    }

    width: 100%;
    margin: 0;
  }
}

.transactions-menu-full-width {
  display: flex;
  flex-direction: column;
  width: calc(100% + 40px) !important;
  margin: 0 -20px;

  @media only screen and (min-width: 1600px) {
    width: calc(100% + $px-40) !important;
    margin: 0 $_px-20 !important;
  }

  @media only screen and (max-width: 991px) {
    &.m-none {
      display: none;
    }
  }
}

.wrapper-tab-menu {
  position: relative;
  display: flex;
  width: 100%;

  .tab-menu {
    height: 38px;
    cursor: pointer;
    width: 100%;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #b3b3b3;
    text-align: center;
    justify-content: space-evenly;

    &:hover {
      color: #616a77;
      .ptxnNumBox {
        background-color: #d35272;
      }
    }

    &.active {
      color: #258bac;
    }

    @media only screen and (min-width: 1600px) {
      height: $px-38;
      font-size: $px-14;
    }
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .ptxnNumBox {
    display: flex;
    position: relative;
    top: -1px;
    color: #e5e6ec;
    background-color: #e0869c;
    border-radius: 50%;
    margin-left: 4%;
    min-width: 25px;
    width: 12%;
    padding: 1% 0px;
    justify-content: center;
    align-items: center;
    &.active {
      background-color: #d35272;
    }
  }

  .border-bar {
    position: absolute;
    top: 35px;
    height: 4px;
    width: 100%;
    background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #e5e6ec;
    background-blend-mode: soft-light, normal;

    @media only screen and (min-width: 1600px) {
      top: $px-35;
      height: $px-4;
    }
  }

  .glider-bar {
    position: absolute;
    top: unset;
    bottom: -1px;
    height: 4px;
    background: #258bac;
    z-index: 1;
    width: 100%;
    transform-origin: 0 0;
    transition: transform 0.25s;

    @media only screen and (min-width: 1600px) {
      bottom: $_px-1;
      height: $px-4;
    }
  }

  .tab-menu:first-child.active ~ .glider-bar {
    transform: translateX(0) scaleX(0.5);

    &.third {
      transform: translateX(0) scaleX(0.3333);
    }

    &.fourth {
      transform: translateX(0) scaleX(0.25);
    }
  }

  .tab-menu:nth-child(2).active ~ .glider-bar {
    transform: translateX(50%) scaleX(0.5);

    &.third {
      transform: translateX(33.33%) scaleX(0.3333);
    }

    &.fourth {
      transform: translateX(25%) scaleX(0.25);
    }
  }

  .tab-menu:nth-child(3).active ~ .glider-bar {
    transform: translateX(66.66%) scaleX(0.3333);

    &.fourth {
      transform: translateX(50%) scaleX(0.25);
    }
  }

  .tab-menu:nth-child(4).active ~ .glider-bar {
    transform: translateX(75%) scaleX(0.25);
  }
}

//mobile for subpage-only
// @media only screen and (max-width: 991px) {
//   .wrapper-tab-menu.subpage-version {
//     .tab-menu {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       font-size: 18px;
//       line-height: 150%;
//     }
//     .border-bar {
//       top: 0;
//       height: 100%;
//       background: linear-gradient(315deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #EDEEF2;
//       background-blend-mode: soft-light, normal;
//     }
//     .glider-bar {
//       bottom: unset;
//       top: 0;
//       height: 100%;
//       background: #8BD4E9;
//     }
//   }
// }
