.new-asset-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Archivo';
  font-size: 12px;
  span {
    font-size: 12px;
  }
  @media only screen and (min-width: 1600px) {
    gap: $px-20 !important;
    font-size: $px-12;
    span {
      font-size: $px-12;
    }
  }
}

.box {
  gap: 8px;
  @media only screen and (min-width: 1600px) {
    gap: $px-8;
  }
}

.new-asset-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  @media only screen and (min-width: 1600px) {
    gap: $px-6;
  }
}

.detail-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media only screen and (min-width: 1600px) {
    gap: $px-10;
  }
  .box-icon-sm{
    width: 16px;
    height: 16px;
    position: relative;
    @media only screen and (min-width: 1600px) {
      width: $px-16;
      height: $px-16;
    }      
  }
}

.detail-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 100px;
  @media only screen and (min-width: 1600px) {
    gap: $px-30;
    padding-bottom: $px-100;
  }
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @media only screen and (min-width: 1600px) {
      gap: $px-10;
    }
    .btn {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .new-asset-detail {
    flex-direction: row;
    gap: 20px;
  }
  .detail-right {
    gap: 30px;
    padding-bottom: 0;
    .btn-wrapper {
      flex-direction: row;
      .btn-cofirm {
        width: 100%;
      }
      .btn {
        width: unset;
      }
    }
  }
}