.modalSafeCont{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .iconModal{
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
    }
    .textModal{
        text-align: center;   
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: #000000;
        &.big{
            font-size: 14px;
        }
        img{
            width: 16px;
            height: 16px;
            cursor: pointer;
        }        
    }
    .bold{
        font-weight: 700;
    }
    .boxAdr{
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .collapse{
        color: #258BAC;
        cursor: pointer;
        text-decoration: underline;
        img{
            width: 20px;
            height: 20px;
            margin-top: -3px;
            &.rotate{
                transform: rotate(180deg);
            }
        }
    }
    .txContent{
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        align-items: center;
    }    
}
.mt20{
    margin-top: 20px;
}
@media only screen and (max-width: 991px){
 .modalSafeCont{
    .textModal{     
        font-size: 12px;
        &.big{
            font-size: 12px;
        }                
    }
 }
}

@media only screen and (min-width: 1600px){
    .modalSafeCont{        
        .iconModal{
            margin-bottom: $px-10;
            width: $px-100;
            height: $px-100;
        }
        .textModal{            
            font-size: $px-14;            
            &.big{
                font-size: $px-14;
            }
            img{
                width: $px-16;
                height: $px-16;                
            }        
        }        
        .boxAdr{            
            gap: $px-4;
        }
        .collapse{            
            img{
                width: $px-20;
                height: $px-20;
                margin-top: $_px-3;                
            }
        }
        .txContent{            
            margin-top: $px-20;            
            gap: $px-4;
        }        
    }
    .mt20{
        margin-top: $px-20;
    }
}