.migrationSafe {
  width: 800px;
  margin-top: 34px;
  .mainContent {
    margin-top: 63px; 
    margin-bottom: 100px;
  }    
}

@media only screen and (min-width: 1600px) {
  .migrationSafe {
    width: $px-800;
    margin-top: $px-34;
    .mainContent {
      margin-top: $px-64;
      margin-bottom: $px-100;
    }    
  }
}

@media only screen and (max-width: 991px) {
  .migrationSafe {
    width: 100%;
    margin-top: 34px;
    padding: 0 20px;
    .mainContent {
      margin-top: 65px;
      margin-bottom: 0px;
      @media only screen and (min-width: 768px) {
        margin-top: 112px;
      }     
    }
  }
}