.loader {    
    position: relative;
    width : 100%;
    height: 100%;    
    animation: rotation 2s linear infinite;        
    img{
        width:100%;
        height:100%;
        position: absolute;
        right: 0;
        top: 0;
    }
}
@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }